@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 
@import './variables.scss';

html {
  font-family: 'Open Sans', sans-serif;
}

#app {
  background: $color-light-grey;
  height: 100%;
}

input {
  font-family: 'Open Sans', sans-serif;
}