$color-white: #FFFFFF;
$color-black: #000000;

$color-gray-1: #F2F2F2;
$color-gray-2: #EBEBEB;
$color-gray-3: #D7D7D7;
$color-gray-4: #9B9B9B;

$color-dark-purple: #7828B4;
$color-purple: #9013FE;

@mixin font-title() {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

@mixin font-title-lg() {
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
}

@mixin font-title-sm() {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

@mixin font-paragraph() {
  font-size: 16px;
  line-height: 24px;
}

@mixin font-label() {
  font-size: 16px;
  line-height: 19px;
  font-style: italic;
}